<a href="https://colab.research.google.com/github/ctshiz/workspace_API/blob/main/REST_API_WITH_99_Taxis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#thanks to this page https://realpython.com/api-integration-in-python/

In [2]:
#install lib
!pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)

In [13]:
#import libs
from datetime import datetime
from datetime import timedelta
from math import ceil
import pandas as pd
import numpy as np
#import string, re, time, random, boto3, os, sys, gc, math
import pandas as pd
import requests
import numpy as np
import json
from datetime import date, timedelta                    #lib for datetime convertion
import calendar                                         #lib for datetime convertion
import datetime as dt                                   #lib for datetime convertion
from dateutil.relativedelta import *  
from pandas.tseries.offsets import DateOffset
import datetime                                        #lib for datetime convertion

In [17]:
data_inicial = datetime.datetime(2022, 7, 16)
data_limit = datetime.datetime(2022, 7, 16)
    
#while data_inicial <= data_limit:
url = "https://api-corp.99app.com/v2/receipts?startDate="+data_inicial.strftime("%Y-%m-%d")+"&endDate="+data_inicial.strftime("%Y-%m-%d")+"&limit=1000"
payload={}

In [22]:
headers = {'insert access-key here'}

In [19]:
response = requests.request("GET", url, headers=headers, data=payload)
data_new = json.loads(response.text)

In [23]:
data_imported = []
data_imported.append(data_new)

In [36]:
#call an empty list
list_df = []
#loop over the list of imported data
for i in range(len(data_imported)):
    data = data_imported[i]
    #loop of the data['rides']
    for _ in range(len(data['rides'])):
        #generate dataframe
        df_up = pd.DataFrame(data['rides'][_])
        #add dataframe to list
        list_df.append(df_up)

#concate the dataframes in the list/#drop duplicates/drop columns
df = pd.concat(list_df, ignore_index=True)
df = df.drop_duplicates()
df = df[['fare','odometer','duration']]

In [37]:
df

     fare  odometer  duration
0    37.8     28450        36
1    37.8     28450        36
2    37.8     28450        36
3    37.8     28450        36
4    37.8     28450        36
..    ...       ...       ...
212   9.8      3060        11
213   9.8      3060        11
214   9.8      3060        11
215   9.8      3060        11
216   9.8      3060        11

[217 rows x 3 columns]